﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="icon" href="~/Content/images/favicon.png">

    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="https://js.arcgis.com/4.13/esri/css/main.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts_header", required: false)
    <script defer src="https://js.arcgis.com/4.13/"></script>

    <!-- Scripts de Telemetría AppInsights: Para recopilar análisis de uso de los usuarios finales sobre la aplicación -->
    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;) r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: '9a1a4559-9cc4-44ad-b5b1-c1b13a1a3208'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>

    @RenderSection("style_header", required: false)
    <style>
        div.bhoechie-tab-container {
            z-index: 10;
            background-color: #ffffff;
            padding: 0 !important;
            border-radius: 4px;
            -moz-border-radius: 4px;
            border: 1px solid #ddd;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
            -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            background-clip: padding-box;
            opacity: 0.97;
            filter: alpha(opacity=97);
        }

        div.bhoechie-tab-menu {
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
        }

            div.bhoechie-tab-menu ul.list-group {
                margin-bottom: 0;
                list-style: none;
            }

                div.bhoechie-tab-menu ul.list-group > a {
                    margin-bottom: 0;
                    text-align: left;
                }

                    div.bhoechie-tab-menu ul.list-group > a .glyphicon,
                    div.bhoechie-tab-menu ul.list-group > a .fa {
                        color: #00001a;
                    }

                    div.bhoechie-tab-menu ul.list-group > a:first-child {
                        border-top-right-radius: 0;
                        -moz-border-top-right-radius: 0;
                    }

                    div.bhoechie-tab-menu ul.list-group > a:last-child {
                        border-bottom-right-radius: 0;
                        -moz-border-bottom-right-radius: 0;
                    }

                    div.bhoechie-tab-menu ul.list-group > a.active,
                    div.bhoechie-tab-menu ul.list-group > a.active .glyphicon,
                    div.bhoechie-tab-menu ul.list-group > a.active .fa {
                        background-color: #449D44;
                        color: #ffffff;
                    }

                        div.bhoechie-tab-menu ul.list-group > a.active:after {
                            content: '';
                            position: absolute;
                            left: 100%;
                            top: 50%;
                            margin-top: -13px;
                            border-left: 0;
                            border-bottom: 13px solid transparent;
                            border-top: 13px solid transparent;
                            border-left: 10px solid #449D44;
                        }

        div.bhoechie-tab-content {
            background-color: #ffffff;
            /* border: 1px solid #eeeeee; */
        }

        div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
            display: none;
        }
    </style>
</head>

<body>
   
    @Html.Partial("_Header")

    <div class="container body-content" style="width:90%;position:relative;margin-top:0px">
        <section class="area-body" id="area-body">
            <div style="width:100%; height: 100%" id="app-body">
                @RenderBody()
            </div>
            <div class="modalLoading"></div>
        </section>
       @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapmaster")
    <script src="~/Scripts/Site.js"></script>

    @RenderSection("scripts", required: false)
    

    <script type="text/javascript">
        $(document).ready(function () {
            $("div.bhoechie-tab-menu>ul.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });

    </script>
   

</body>
</html>
